.header {
    margin: 0 auto;
    background: cadetblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
}